<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-primary">
            <div>
                <div class="messages" #messagesElement infiniteScroll [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolledUp)="handleScrolledUp()">
                    <div *ngFor="let message of messages"
                        [ngClass]="{message: true, isMessageMine: message.isMessageMine}">
                        <span class="message-nick">{{message.nick}}</span><br><span
                            class="message-content">{{message.content}}</span>
                    </div>
                    <button class="buttonMoveToBotton btn btn-default" *ngIf='numberOfUnreadMessages !== 0'
                        (click)="scrollChatToEnd(true)">
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        <span class="badge badge-pill badge-primary">{{numberOfUnreadMessages}}</span>
                    </button>
                </div>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control" value="hello world" name="message" #message
                        (keyup.enter)="handleClickSendMessage(message.value)" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="handleClickSendMessage(message.value)">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>